<section>
    <h2>Reviews</h2>
    <div>
        <ul>
            <li>
                <div>
                    <img src="" alt="" />
                    <p>Abraham Baker</p>
                    <p>Student</p>

                    <div>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                    </div>
                    <p>
                        I am very pleased that I decided to enroll in photography school. The
                        teachers turned out to be very talented and experienced professionals
                        who share their knowledge and are dedicated to their work. I was able
                        to expand my skills and discover my own style.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <img src="" alt="" />
                    <p>Amanda Lowery</p>
                    <p>Student</p>

                    <div>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                        <svg width="12" height="12">
                            <use href="../public/favicon.svg#icon-star"></use>
                        </svg>
                    </div>
                    <p>
                        The courses at the photography school exceeded all my expectations. I
                        gained not only technical knowledge, but also inspiration and
                        motivation to reach new heights in my creativity. Hands-on classes and
                        workshops helped me understand different styles of photography.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>